[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mongomock = "*"
pytest = "*"
pytest-cov = "*"
blue-chip = "*"

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
pymongo = {extras = ["srv"],version = "*"}
dnspython = "*"

[requires]
python_version = "3.7"
